.simpleFilePreview_multiUI {
  border-radius:3px;
  background-color:#f2f2f2;
  width: 100%;
  position: relative;
  padding: 15px 30px;
  margin-left: 0; /*75px*/
}
.simpleFilePreview_multiClip {
  overflow: hidden;
}
.simpleFilePreview_multi {
  display: block;
  /*height: 130px;*/
  padding: 0;
  position: relative;
  left: 0;
}

.simpleFilePreview_shifter {
  position: absolute;
  top: 70px;
  font-weight: bold;
  cursor: pointer;
}
.simpleFilePreview_shiftLeft { left: 3px; }
.simpleFilePreview_shiftRight { right: 3px; }

.imageHolder{ margin: 10px 15px; }
.simpleFilePreview {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  margin-left: 10px;
  border-radius:3px;
  background-color: #f7f7f7;
  padding: 3px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.simpleFilePreview_multi .simpleFilePreview { float: left; }
.simpleFilePreview_input {
  background-color: #3c8dbc;
  color:#FFF;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding-top: 30%;
  height: 100%;
  width: 100%;
}
.simpleFilePreview:hover {
  background-color: #ddd;
}
.simpleFilePreview input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  z-index: 5;
}

.simpleFilePreview_preview {
  max-width: 120px;
  max-height: 120px;
  z-index: 3;
}
.simpleFilePreview_preview.simpleFilePreview_hasFilename {
  max-width: 120px;
  max-height: 100px;
}
.simpleFilePreview_filename {
  font-size: 0.8em;
  color: #666;
  width: 95%;
  height: 1.15em;
  overflow: hidden;
  display: inline-block;
}
.simpleFilePreview_remove {
  display: none;
  color: #c33;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
.simpleFilePreview_remove i {
	font-size: 1.4em;
}
.simpleFilePreview.hover {
	border: 1px solid #f00;
} 
